#projects div:hover img{
  animation-name: header_logo;
  animation-duration: 2s;
}

#projects div {
  display: flex;
  align-items: center;
  min-width: 63px;
  min-height: 63px;
  width: fit-content;
  height: 100px;
}

@keyframes header_logo {

  0% {
    transform: rotateY(0deg);
    width: 63px;
    height: 63px;
  }

  50% {
    transform: rotateY(180deg);
    width: 100px;
    height: 100px;
  }

  100% {
    transform: rotateY(0deg);
    width: 63px;
    height: 63px;
  }
  
}

#read_more_button:hover {
  transform-origin: left;
  animation-name:readmore_btn;
  animation-duration: 2s;
}

@keyframes readmore_btn {
  
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }

}

#stories button:hover {
  animation-name: play_btn;
  animation-duration: 2s;
}

@keyframes play_btn {

  0% {
    background-color: rgb(50, 187, 241);
    color: white;
  }

  50% {
    background-color: white; 
    color: rgb(50, 187, 241);
  }

  100% {
    background-color: rgb(50, 187, 241);
    color: white;
  }

}
