#about_btn_wraper {
  display: flex;
  justify-content: center;
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}

#read_more_button {
  border-radius: 30px;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  margin-top: 3em;
  margin-bottom: 5em;
}

#play_button, #read_more_button {
  background-color: rgb(50, 187, 241);
  color: white;
  border: 0;
  margin-bottom: 1em;
}

#play_button {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-size: 60px;
  padding-left: 20px;
}

